name: Sync CF Template with S3

on:
  push:
    paths:
      - 'templates/cf-codepipeline.yaml'

jobs:
  sync-s3:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6.0.0
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1

      - name: Sync with S3
        run: |
          aws s3 cp templates/cf-codepipeline.yaml s3://devops4life-cloudformation-templates/terraform-aws-codepipeline/cf-codepipeline.yaml --acl private
